@page "/Senq"

@if (Senqdetails.Any())
{
    <tr>
        <h2> Tomata.com Product Table</h2>
    </tr>

    @foreach (var product in Senqdetails)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price.ToString()</td>
        </tr>
    }

}

@code
{
    [Parameter]
    public List<ProductDetails> Senqdetails { get; set; } = new();
}